.sakuraPetal {
    position: absolute;
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    background-image: url('/sakura-petal.png');
    animation: petal-fall linear infinite;
    transform: translateY(-100vh);
  }

@keyframes petal-fall {
    to {
      transform: translateY(100vh) rotate(360deg);
    }
  }